<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/lipatovav/IdeaProjects/test_allure_two_million_again/src/test/java/com.mysite.smokeTest.SmokeTest.java"><classes/></test></suite>